body {
    margin: 0 auto;
    font-family: 'News Cycle', sans-serif;
}

.top-bar-dark {
    width: 100%;
    background-color: #333;
    height: 40px;
}

.container {
    margin: 0 auto;
    max-width: 800px;
    width: 100%;
}

.top-bar-socials {
    width: 40%;
    float: left;
    /* background-color: #595463; */
    height: 40px;
}

.top-bar-socials a {
    width: 36px;
    height: 36px;
    color: #fff;
    border-radius: 50%;
    display: inline-block;
    line-height: 40px;
    margin-left: 10px;
}

.top-bar-socials a.facebook {
    background-color: #3b5998;
}

.top-bar-socials a.facebook:hover,
.top-bar-socials a.facebook:active {
    background-color: #8b9dc3;
}

.top-bar-socials a.linkedn {
    background-color: #0077B5;
}

.top-bar-socials a.linkedn:hover,
.top-bar-socials a.linkedn:active {
    background-color: rgb(22, 70, 94);
}

.top-bar-socials a.youtube {
    background-color: #FF0000;
}

.top-bar-socials a.youtube:hover,
.top-bar-socials a.youtube:active {
    background-color: rgb(165, 70, 70);
}

.top-bar-socials a.googleplus {
    background-color: #d34836;
}

.top-bar-socials a.googleplus:hover,
.top-bar-socials a.googleplus:active {
    background-color: #923c32;
}

.top-bar-socials i {
    margin-left: 9px;
    font-size: 22px;
}

.top-bar-links a {
    float: right;
    height: 36px;
    /* display: inline-block; */
    line-height: 40px;
    margin-left: 10px;
    text-align: right;
    text-decoration: none;
}

.linkTekstas {
    font-family: 'News Cycle', sans-serif;
}

.top-bar-links a.login,
.top-bar-links a.signup,
.top-bar-links a.search {
    color: white;
}

.top-bar-links a.login:hover,
.top-bar-links a.signup:hover,
.top-bar-links a.search:hover {
    color: rgb(143, 143, 143);
}

.navbar div a {
    text-decoration: none;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
}

.navbar li {
    float: right;
}

.navbar li a {
    display: block;
    color: rgb(143, 143, 143);
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

.navbar li a:hover {
    color: #333;
    font-weight: bold;
}

.navbar {
    margin-top: 10px;
    margin-bottom: 5px;
}

.header {
    float: left;
}

.header a img {
    display: block;
    top: 20px;
}

.header a img:hover {
    transform: rotate(2deg);
}

#bg {
    position: relative;
    max-width: 100%;
    object-fit: cover;
    height: 500px;
    min-width: 100%;
    transition: 0.5s;
}

#bg:hover {
    opacity: 0.8;
    transition: 0.5s;
}

.whatWEDO {
    text-align: center;
    margin-top: 50px;
    text-transform: uppercase;
    position: sticky;
    bottom: 50px;
}

.annoyingLine {
    display: inline-block;
    width: 70px;
    height: 1px;
    border-top: 1px solid #bbb;
    margin: auto;
}

.whatTEXT {
    padding-top: 30px;
}

.tools {
    text-align: center;
    float: left;
    width: 20%;
}

.tools p {
    font-size: 14px;
}

.tools .fa {
    font-size: 30px;
}

.tableLayout {
    margin-top: 80px;
}

.tools:hover>.toolsH {
    font-style: italic;
    transition: 0.2s;
}

.tools:hover>p {
    margin-top: 13px;
    ;
}

.tools:hover>.fa-magic {
    color: rgb(167, 167, 241);
}

.tools:hover>.fa-html5 {
    color: rgb(176, 241, 167);
}

.tools:hover>.fa-css3 {
    color: rgb(240, 241, 167);
}

.tools:hover>.fa-lightbulb-o {
    color: rgb(241, 176, 167);
}

.tools:hover>.fa-file-o {
    color: rgb(241, 167, 231);
}


/* .masonry {
    margin-top: 60px;
    column-count: 4;
    column-gap: 0;
  }
  .masonry-layout__panel {
    break-inside: avoid;
    padding: 5px;
  }
  .masonry-layout__panel-content {
    padding: 10px;
    border-radius: 10px;
  } */

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.contact {
    margin-bottom: 30px;
    height: auto;
}

.leftcontact {
    width: 60%;
    float: left;
    line-height: 200%;
    margin-bottom: 50px;
}

.rightcontact {
    width: 35%;
    float: left;
    margin-left: 5%;
}

.leftcontact table input {
    width: 100%;
}

#name,
#email {
    width: 90%;
}

.email {
    margin-left: 10%;
}

.message {
    overflow: auto;
    height: 200px;
    resize: both;
}

.rightcontact ul {
    list-style: none;
    padding: 0;
}

.rightcontact ul li a {
    color: black;
    text-decoration: none;
}


/* Responsive stuff */

@media (max-width: 768px) {
    .photoBackground {
        display: none;
    }
    .tools {
        width: 100%;
    }
}