
.container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}

.bigButton {
	height: 50px;
}

ul {
	font-size: 24px;
	padding-left: 15px;
}
ul li {
	font-size: 16px
}

.container div {
	
	margin-right: 20px;
	margin-bottom: 20px;